/*colour scheme: for this website square tetradic color scheme was choosen with main colours of dark blue #223F8E, red #A32D44, yellow #FFB800 and green #22602E. I picked this colour scheme to draw attention and make it more memrable for kids in age category of elemantary grade.*/
/*body specifications*/
body{
    background-color: #ffffff; 
    /*body spacing*/
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
     /*body text specs*/
     /*font Pangolin is sans serif handwriting style, it's not decorated or serifed making it easier and more accessible to read, especially for younger kids. Handwritten style makes its more fun and engageging*/
    font-family: 'Pangolin', regular;
    text-align: center;
}
/*headers apearance*/

h2{
     /*font Pangolin is geometric sans-serif style, it's very simple and stright,  making it really easy and more accessible to read, especially for younger kids. Boldness and geometric, stright  style makes its more eye catching*/
    font-family: 'League Spartan', regular;
    font-weight: bold;
    font-size: 70px;
    /*headers spacing*/
    margin-top: -8px;
    padding-top: 5%;
}

h3{
    font-family: 'League Spartan', regular;
    font-weight: bold;
    font-size: 50px;
        /*headers spacing*/
    margin-top: -8px;
    padding-top: 2%;
}

h4{
    font-family: 'Pangolin', regular;
    font-size: 30px;
        /*headers spacing*/
    margin-top: -8px;
    padding-top: 2%;

}
/*text padding and sizing*/

p{
    padding-left: 10%;
    padding-right: 10%;
    padding-bottom: 5%;
    font-size: 20px;
}
/*set size for links*/
a{
        font-size: 18px;
}

/*navigation*/
nav {
    /*mode*/
    overflow: hidden;
    }
    /*items displayed/ links on the nav bar*/
.nav-item {
    float: left;
    text-decoration: none;
    font-family: 'Pangolin', regular;
    padding: 20px;
    color: rgb(255, 255, 255);
    text-align: center;
    font-size: 25px;
    cursor: pointer;
    width: 160px;
}
/*appearance of nav items after action of hovering/ pointing cursor at it*/
.nav-item a:hover {
    text-decoration: none;
    cursor: pointer;
    border-radius: 50px
}
/*front image sizing and fit*/
#image-treaty-rights-main{
    width: 100%;
    height: 20%;
    object-fit: fill;
}

/*figure and figcaption style*/

figcaption{
    font-size: 12px;
    font-family: 'Pangolin', regular;
    padding-bottom: 10%;
}

/*figure positioning and margin*/
figure{
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    margin-bottom: -8px;
    align-items: center;
}

/*grid class container aligns and displace grid items in specific positions*/
.grid-container {
    display: grid;
    /*columns order grid items into specific template*/
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px; 
    padding: 40px;
}
/*objects and sections position along the grid container*/
.grid-item {
    text-align: center; 
    padding: 15px;
}
/*styling of images within grid item sections*/
.grid-item img {
    width: 100%; 
    height: auto;
    border-radius: 8px;
}
/*footer appearance, and text style described*/
.footer-copyright-white-treatypages{
    font-size: 20px;
    font-family: 'League Spartan', regular;
    font-weight: bold;
    color: #000000;
    height: 100%;
}

